<style>
draggable-icon-panel .container{
margin: 0 auto;
width:400px;
height:50px;
}

draggable-icon-panel .item{
width: 60px;
height: 60px;
text-align: center;
position:absolute;
font-size:11px;
}

draggable-icon-panel .textitem{
height: 60px;
margin-left:60px;
width:150px;
font-size:12px;
line-height:14px;
text-align: center;
display:inline-block;
position:absolute
}

draggable-icon-panel .item span{
line-height: 58px;
font-size:40px;
}


draggable-activity-panel .container{
margin: 0 auto;
width:400px;
height:50px;
}

draggable-activity-panel .item{
width: 60px;
height: 60px;
text-align: center;
position:absolute;
font-size:11px;
}

draggable-activity-panel .textitem{
height: 60px;
margin-left:60px;
width:150px;
font-size:12px;
line-height:14px;
text-align: center;
display:inline-block;
position:absolute
}

.rounded-borders {
 -moz-border-radius: 6px; border-radius: 6px; /* standards-compliant: (IE) */ 
}

draggable-activity-panel .item span{
line-height: 58px;
font-size:40px;
}


</style>


<div class="draggable-panel">

Event<br>
<draggable-icon-panel 
	color="red" 
	title="RED EVENT" 
	details="This is a test of the red EVENT custom directive. It has a date!" 
	when="10/22/2016" 
	icon="glyphicon-calendar">
</draggable-icon-panel>
<p/>

Class<br>
<draggable-activity-panel 
	color="green" 
	title="GREEN CLASS" 
	details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
	icon="glyphicon-pencil">
</draggable-activity-panel>
<p/>

Book<br>
<draggable-activity-panel 
	color="black" 
	title="BLACK BOOK" 
	details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
	icon="glyphicon-book">
</draggable-activity-panel>
<p/>

Conference<br>
<draggable-activity-panel 
	color="gold" 
	title="GOLD CONFERENCE" 
	details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
	icon="glyphicon-globe">
</draggable-activity-panel>
<p/>

Video<br>
<draggable-activity-panel 
	color="blue" 
	title="BLUE VIDEO" 
	details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
	icon="glyphicon-headphones">
</draggable-activity-panel>
<p/>

</div>