


<div class="draggable-panel">

Event<br>
<draggable-icon-panel 
	color="red" 
	title="RED EVENT" 
	details="This is a test of the red EVENT custom directive. It has a date!" 
	when="10/22/2016" 
	icon="glyphicon-calendar">
</draggable-icon-panel>
<p/>

Class<br>
<draggable-activity-panel 
	color="green" 
	title="GREEN CLASS" 
	details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
	icon="glyphicon-pencil">
</draggable-activity-panel>
<p/>

Book<br>
<draggable-activity-panel 
	color="black" 
	title="BLACK BOOK" 
	details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
	icon="glyphicon-book">
</draggable-activity-panel>
<p/>

Conference<br>
<draggable-activity-panel 
	color="gold" 
	title="GOLD CONFERENCE" 
	details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
	icon="glyphicon-globe">
</draggable-activity-panel>
<p/>

Video<br>
<draggable-activity-panel 
	color="blue" 
	title="BLUE VIDEO" 
	details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
	icon="glyphicon-headphones">
</draggable-activity-panel>

<p/>

</div>