  <div class='parent' ng-controller='DragulaCtrl'>
    <label for='hy'>Drag and drop!. Check out <a href='https://github.com/bevacqua/dragula#drakeon-events'>all possible events</a> in the docs!</label>

      <div class='container gray' dragula='"second-bag"'>
		<draggable-activity-panel 
			color="gold" 
			title="CONFERENCE" 
			details="ng-conf**Salt Lake City, UT**May 1-4, 2016" 
			icon="glyphicon-globe">
		</draggable-activity-panel>

		<draggable-icon-panel 
			color="red" 
			title="RED EVENT" 
			details="This is a test of the red EVENT custom directive. It has a date!" 
			when="10/22/2016" 
			icon="glyphicon-calendar">
		</draggable-icon-panel>

		<draggable-activity-panel 
			color="green" 
			title="GREEN CLASS" 
			details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
			icon="glyphicon-pencil">
		</draggable-activity-panel>

		<draggable-activity-panel 
			color="black" 
			title="BLACK BOOK" 
			details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
			icon="glyphicon-book">
		</draggable-activity-panel>

		<draggable-activity-panel 
			color="gold" 
			title="GOLD CONFERENCE" 
			details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
			icon="glyphicon-globe">
		</draggable-activity-panel>

		<draggable-activity-panel 
			color="blue" 
			title="BLUE VIDEO" 
			details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
			icon="glyphicon-headphones">
		</draggable-activity-panel>

      </div>
      <div class='container gray' dragula='"second-bag"'>
		<draggable-activity-panel 
			color="gold" 
			title="GOLD CONFERENCE" 
			details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
			icon="glyphicon-globe">
		</draggable-activity-panel>

		<draggable-icon-panel 
			color="red" 
			title="RED EVENT" 
			details="This is a test of the red EVENT custom directive. It has a date!" 
			when="10/22/2016" 
			icon="glyphicon-calendar">
		</draggable-icon-panel>

		<draggable-activity-panel 
			color="green" 
			title="GREEN CLASS" 
			details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
			icon="glyphicon-pencil">
		</draggable-activity-panel>

		<draggable-activity-panel 
			color="black" 
			title="BLACK BOOK" 
			details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
			icon="glyphicon-book">
		</draggable-activity-panel>

		<draggable-activity-panel 
			color="gold" 
			title="GOLD CONFERENCE" 
			details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
			icon="glyphicon-globe">
		</draggable-activity-panel>

		<draggable-activity-panel 
			color="blue" 
			title="BLUE VIDEO" 
			details="This is a test kjdhf kjfh skdjfh skdjf skdjf hskdjfh skdjh fskdjfh s jdflksjdj" 
			icon="glyphicon-headphones">
		</draggable-activity-panel>


      </div>
