<div class="rounded-borders" style="position:relative; border:thin {{color}} solid;height:62px;width:210px;margin:5px;padding:0; background-color:white">
	<div class="item" style="background-color:{{color}};color:white;margin:0;padding:0;padding-top:6px">
    	<span style="font-size:35px40px;line-height:30px" class="glyphicon {{icon}}"></span><br>{{when}} <!-- font-size:45px;line-height:45px -->
	</div>
	<div class="textitem rounded-borders"  style="background-color:white;margin:0;margin-left:60px;padding:0">
		<b>{{title}}</b>
		<br/>
		{{details}}
	</div>
</div>